services:
  
  backend-api-cloudfly:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend-api
    restart: unless-stopped
    environment:
      - SPRING_PROFILES_ACTIVE=production
      - DB_HOST=db
      - DB_PORT=3306
      - DB_DATABASE=ingenieriadb
      - DB_USERNAME=root
      - DB_PASSWORD=widowmaker
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
    networks:
      - mired
      - kafka-net
    labels:
      - "traefik.enable=true"
      # router HTTPS para el API
      - "traefik.http.routers.api-cloudfly.rule=Host(`api.cloudfly.com.co`)"
      - "traefik.http.routers.api-cloudfly.entrypoints=websecure"
      - "traefik.http.routers.api-cloudfly.tls.certresolver=le"
      # puerto interno del backend
      - "traefik.http.services.api-cloudfly.loadbalancer.server.port=8080"
      - "traefik.docker.network=gm2_mired"

  
  frontend-react:
    container_name: frontend_app
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      - NEXT_PUBLIC_API_URL=https://api.cloudfly.com.co   # Traefik termina SSL
    restart: unless-stopped
    networks:
      - mired
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`dashboard.cloudfly.com.co`)"
      - "traefik.http.routers.frontend.entrypoints=websecure"
      - "traefik.http.routers.frontend.tls.certresolver=le"
      - "traefik.http.services.frontend.loadbalancer.server.port=3000"
      - "traefik.docker.network=gm2_mired"

  
  chat-socket-service:
    build:
      context: ./chat-socket-service
      dockerfile: Dockerfile
    container_name: chat_socket
    restart: always
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=${NODE_ENV:-production}
      - PORT=3001
      - FRONTEND_URL=${FRONTEND_URL:-https://dashboard.cloudfly.com.co}
      - JAVA_API_URL=${JAVA_API_URL:-https://api.cloudfly.com.co}
      - JWT_SECRET=${JWT_SECRET}
      - N8N_SECRET_KEY=${N8N_SECRET_KEY}
    networks:
      - mired
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.chatsocket.rule=Host(`chat.cloudfly.com.co`)"
      - "traefik.http.routers.chatsocket.entrypoints=websecure"
      - "traefik.http.routers.chatsocket.tls.certresolver=le"
      - "traefik.http.services.chatsocket.loadbalancer.server.port=3001"
      - "traefik.docker.network=gm2_mired"

  
  

networks:
  kafka-net:
    external: true
    name: gm2_kafka-net
  mired:
    external: true
    name: gm2_mired